* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  clear: both;
}
.img-circle {
  border-radius: 50%;
}
.shot-head {
  position: relative;
  border: 1px solid #ccc;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.13);
  -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.13);
  box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.13);
  margin: 10px;
}
.shot-head a {
  display: block;
}
.shot-head .image {
  display: block;
  text-align: center;
}
.shot-head .extra {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  color: #eee;
  padding: 5px;
  padding-top: 7px;
  padding-left: 10px;
  font-size: 18px;
}
.shot-head .extra .views {
  float: right;
  padding-right: 5px;
}
.shot-head .extra .views .icon {
  margin-right: 5px;
}
section.shots {
  width: 1024px;
  margin: 0 auto;
}
section.shots ul {
  margin: 0;
  padding: 0;
}
section.shots ul li {
  float: left;
  list-style-type: none;
}
section.shots ul .image img {
  width: 318px;
}
section.shot {
  width: 768px;
  margin: 0 auto;
}
section.shot .shot-head .image {
  height: 300px;
}
section.shot .shot-head .extra {
  height: auto;
  min-height: 40px;
}
section.shot .shot-description {
  padding: 15px;
  padding-top: 0;
}
section.shot .shot-description p {
  margin: 0;
}
section.shot .shot-description .author {
  heigth: 70px;
  padding: 5px 0 10px;
}
section.shot .shot-description .author img {
  width: 50px;
}
section.shot .shot-description .author .name {
  margin-left: 10px;
  font-size: 20px;
  color: #666;
}
section.shot .shot-description .description {
  color: #666;
  line-height: 1.4;
}
section.shot .back {
  padding: 10px;
  padding-bottom: 0;
}
section.shot .back a {
  text-decoration: none;
  font-weight: bold;
  color: #666;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  section.shot {
    width: 100%;
  }
  section.shots {
    width: 100%;
  }
  section.shots ul li {
    width: 46%;
    margin: 2%;
  }
  section.shots ul .image img {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  section.shots .shot-head .extra {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  section.shot .shot-head .image {
    height: auto;
    min-height: auto;
    width: 100%;
  }
  section.shot .shot-head .image img {
    width: 100%;
  }
}
